<h1>Listing plant_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Superior plant category</th>
    <th>Sort no</th>
    <th>Lock version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plant_categories.each do |plant_category| %>
  <tr>
    <td><%= plant_category.name %></td>
    <td><%= plant_category.superior_plant_category_id %></td>
    <td><%= plant_category.sort_no %></td>
    <td><%= plant_category.lock_version %></td>
    <td><%= link_to 'Show', plant_category %></td>
    <td><%= link_to 'Edit', edit_plant_category_path(plant_category) %></td>
    <td><%= link_to 'Destroy', plant_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plant category', new_plant_category_path %>
