<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_section_post.user_id %>
</p>

<p>
  <b>Section:</b>
  <%= @user_section_post.section_id %>
</p>

<p>
  <b>Post:</b>
  <%= @user_section_post.post_id %>
</p>

<p>
  <b>Lock version:</b>
  <%= @user_section_post.lock_version %>
</p>


<%= link_to 'Edit', edit_user_section_post_path(@user_section_post) %> |
<%= link_to 'Back', user_section_posts_path %>
