<%= form_for(@section_post) do |f| %>
  <% if @section_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_post.errors.count, "error") %> prohibited this section_post from being saved:</h2>

      <ul>
      <% @section_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.text_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :lock_version %><br />
    <%= f.text_field :lock_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
