<h1>Listing project_report_plant_categories</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Plant category</th>
    <th>Lock version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_report_plant_categories.each do |project_report_plant_category| %>
  <tr>
    <td><%= project_report_plant_category.project_id %></td>
    <td><%= project_report_plant_category.plant_category_id %></td>
    <td><%= project_report_plant_category.lock_version %></td>
    <td><%= link_to 'Show', project_report_plant_category %></td>
    <td><%= link_to 'Edit', edit_project_report_plant_category_path(project_report_plant_category) %></td>
    <td><%= link_to 'Destroy', project_report_plant_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project report plant category', new_project_report_plant_category_path %>
