<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @project_report_plant_category.project_id %>
</p>

<p>
  <b>Plant category:</b>
  <%= @project_report_plant_category.plant_category_id %>
</p>

<p>
  <b>Lock version:</b>
  <%= @project_report_plant_category.lock_version %>
</p>


<%= link_to 'Edit', edit_project_report_plant_category_path(@project_report_plant_category) %> |
<%= link_to 'Back', project_report_plant_categories_path %>
