<p id="notice"><%= notice %></p>

<p>
  <b>Login code:</b>
  <%= @user.login_code %>
</p>

<p>
  <b>Login passwd:</b>
  <%= @user.login_passwd %>
</p>

<p>
  <b>Family name:</b>
  <%= @user.family_name %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Family kana name:</b>
  <%= @user.family_kana_name %>
</p>

<p>
  <b>First kana name:</b>
  <%= @user.first_kana_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>

<p>
  <b>Superior user:</b>
  <%= @user.superior_user_id %>
</p>

<p>
  <b>Lock version:</b>
  <%= @user.lock_version %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
