<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :project_id %><br />
    <%= select_tag(:project_id, options_from_collection_for_select(@projects, :id, :name, params[:p].to_i || @cost.activity.try(:project_id)),
      :onchange=>remote_function(
                    :update=>"cost_activity_id",
                    :url=>{:action=>"activities", :id=>@cost.activity_id, "format"=>"html"},
                    :with=>"'p=' + this.value",
                    :method=>"get")) %>  
  </div>
<div id="test"></div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= select_tag :cost_activity_id,
      render(:partial=>"activities", :locals=>{:activities=>@activities, :activity_id=>@cost.activity_id}),
      :name=>"cost[activity_id]" %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, @users, :id, :family_name %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br />
    <%= f.datetime_select :ended_at %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </div>
    <%= f.hidden_field :lock_version %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

