<h1>Listing costs</h1>
<% form_tag("costs/costs", :remote=>true) do |f| %>
  <%= select_tag :project_id,
        options_from_collection_for_select(@projects, :id, :name, params[:p]),
        :url=>{:action=>"index", :format=>"html"},
        :name=>"p",
        :include_blank=>true -%>
      <%= submit_tag "適用", :submit_with=>"更新中・・・" %>
      <%= button_to "適用" %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Activity</th>
    <th>User</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody id="costs_tbody">
    <%= render :partial=>"costs", :locals=>{:costs=>@costs} -%>
  </tbody>
</table>

<br />

<%= link_to 'New Cost', new_cost_path %>
