<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @cost.activity.project.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @cost.activity.name %>
</p>

<p>
  <b>User:</b>
  <%= @cost.user.family_name %><%= @cost.user.first_name %>
</p>

<p>
  <b>Started at:</b>
  <%= @cost.started_at %>
</p>

<p>
  <b>Ended at:</b>
  <%= @cost.ended_at %>
</p>

<p>
  <b>Memo:</b>
  <%= @cost.memo %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
