<h1>Listing activities</h1>

<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Sort no</th>
    <th>Lock version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.project.name %></td>
    <td><%= activity.name %></td>
    <td><%= activity.sort_no %></td>
    <td><%= activity.lock_version %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
